---
import "../styles/global.css"
import App from "../islands/SPA.vue";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TravelGarage</title>
  </head>

  <body class="bg-zinc-950 text-zinc-100">
    <App client:load />
  </body>
</html>
